<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jama.mpesa_biz_no_detector">

    <application>
        <activity android:name=".ui.MPESABizNoDetectorActivity"
            android:theme="@style/MPESABizNoDetectorTheme.App"/>
    </application>

</manifest>